<div class="col-12 p-3 text-center">
<p class="p-1">{{ iconStart }}</p>
<div class="row">
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ asset('images/IM4.jpeg') }}"/><p>{{ contenticon1 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ asset('images/IM4.jpeg') }}"/><p>{{ contenticon2 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ asset('images/IM4.jpeg') }}"/><p>{{ contenticon3 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ asset('images/IM4.jpeg') }}"/><p>{{ contenticon4 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ asset('images/IM4.jpeg') }}"/><p>{{ contenticon5 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ asset('images/IM4.jpeg') }}"/><p>{{ contenticon6 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ asset('images/IM4.jpeg') }}"/><p>{{ contenticon7 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ asset('images/IM4.jpeg') }}"/><p>{{ contenticon8 }}</p></div></div>
</div>
</div>