{% extends 'base.html.twig' %}

{% block title %}Activiteevent{% endblock %}

{% block body %}
<div class="main-content">
    <h1>Activiteevent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activiteevent.id }}</td>
            </tr>
            <tr>
                <th>Horaire</th>
                <td>{{ activiteevent.horaire }}</td>
            </tr>
            <tr>
                <th>Nbrparticipant</th>
                <td>{{ activiteevent.nbrparticipant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_activiteevent_index') }}">back to list</a>

    <a href="{{ path('app_activiteevent_edit', {'id': activiteevent.id}) }}">edit</a>

    {{ include('activiteevent/_delete_form.html.twig') }}
</div>
{% endblock %}
