{% extends 'base.html.twig' %}

{% block title %}Modifier Activité - FitConnect{% endblock %}

{% block body %}
<div class="main-content">
    <div class="bg-fullscreen"></div>
    <div class="overlay"></div>

    <div class="container centered-form">
        <div class="form-container">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Modifier Activité</h1>
            </div>
            
            {{ form_start(form, {'attr': {'class': 'user'}}) }}
                <div class="form-group">
                    {{ form_label(form.nomActivity, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nomActivity, {'attr': {
                        'class': 'form-control form-control-user',
                        'placeholder': 'Nom de l\'activité',
                        'maxlength': 20
                    }}) }}
                    {{ form_errors(form.nomActivity) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.imageFile, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.imageFile, {'attr': {
                        'class': 'form-control-file form-control-user',
                        'accept': 'image/jpeg,image/png,image/webp'
                    }}) }}
                    {{ form_errors(form.imageFile) }}
                    {% if form.vars.value.iconActivity %}
                        <div class="mt-2">
                            <small>Icône actuelle :</small>
                            <img src="{{ asset('uploads/images/' ~ form.vars.value.iconActivity) }}" class="img-thumbnail mt-1" style="max-height: 50px;">
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.categorieActivity, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.categorieActivity, {'attr': {
                        'class': 'form-control form-control-user'
                    }}) }}
                    {{ form_errors(form.categorieActivity) }}
                </div>
                
                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('app_activity_index') }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left mr-2"></i> Retour
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save mr-2"></i> Enregistrer
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}